<%= content_for :header do %>
  <%= stylesheet_link_tag 'jquery.bootstrap-touchspin', media: 'all' %>
  <%= javascript_include_tag 'jquery.bootstrap-touchspin' %>
<% end %>

<%= form_for :order, :url => populate_orders_path, class: "form-horizontal" do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="text-center">
    <% if @product.variants_and_option_values(current_currency).any? %>
      <div class="btn-group" data-toggle="buttons">
        <% @product.variants_and_option_values(current_currency).each_with_index do |e, idx| %>
          <label class="btn btn-default <%= "active" if idx == 0 %>">
            <%= radio_button_tag "options", e.id, idx == 0, name: "variant_id", id: "option_#{e.id}" %> <%= display_price(e) %> <%= variant_options(e) %>
          </label>
        <% end %>
      </div>
    <% end %>
    <hr>
    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">
        <div class="add-to-cart">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-5 col-md-5 control-label">购买数量</label>
                  <div class="col-xs-7 col-md-7">
                    <%= text_field_tag :quantity, 1, :min => 1, class: "input-sm form-control text-center" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= button_tag :class => 'btn btn-primary btn-sm full_width', :type => :submit, disabled: @product.total_on_hand <= 0, data: { disable_with: "请稍等" } do %>
                  <%= @product.total_on_hand > 0 ? Spree.t(:add_to_cart) : Spree.t(:out_of_stock) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
  </div>
<% end %>

<script>
$(function(){
  $("input[name='quantity']").TouchSpin({
    initval: 1
  });
})
</script>
